*,
::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0f0f0;
}
.main {
  padding: 3rem 3rem;
  margin: auto;
}
.sector {
  width: 60vw;
  height: 50vh;
}

.calculator {
  width: 20rem;
  height: 80vh;
  padding: 20px;
  border: 1rem solid rgba(98, 97, 97, 0.559);
  border-radius: 1rem;
  background-color: rgba(12, 11, 11, 0.675);
  box-shadow: 0 2px 10px black;
  margin-left: auto;
  margin-right: auto;
}

.display {
  width: 100%;
  height: 10vh;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: end;
  align-items: end;
  text-align: end;
  background: rgba(194, 190, 190, 0.702);
}
.button:hover {
  background-color: green;
  transform: rotateY(25deg);
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 1rem;
}

.button {
  width: 22%;
  height: 5rem;
  padding: 10px;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer;
  box-sizing: border-box;
}
.equal {
  background: orange;
}
